<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>

  <body>
    <%- include('partials/nav') %>
    <h2 class="prod_title prod_page_title">Our Products</h2>
    <p class="prod_page_desc">
      Welcome to Aster Prints, your one-stop solution for vibrant, high-quality
      food packaging boxes. <br />We offer customizable sizes and colors to
      perfectly match your product and brand identity.<br />
      Our durable boxes ensure the safety and freshness of your food products.
    </p>
    <div class="products_container">
      <% for(item in product ) { %>
      <div class="prod_card">
        <h3><%= product[item].name %></h3>
        <img src="/img/pizza-box.png" alt="" />
        <button
          class="prod_btn"
          onclick="window.location.href='/products/<%= item %>'"
        >
          View
        </button>
      </div>
      <% } %>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
